{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}
{{/each}}

<a href="/admin/contato"><button class="btn btn-info">Comentários Anteriores</button></a>
<hr>
<form action="/admin/contato/new" method="POST">
    <div class="container form-inline" style="float: left; width:45%;">
        <div class="form-group mb-4">
            <label for="nome">Nome: &emsp;&emsp;</label>
            <input class="form-control" name="nome" id="nome" type="text" size="50" placeholder="Seu nome..." autocomplete="name" onblur="limpaEspaco("value")">
        </div>
        <div class="form-group mb-4">
            <label>E-mail: &emsp;&emsp;</label>
            <input class="form-control" name="email" id="email" type="email" size="50" placeholder="seuemail@email.com">
        </div>
        <div class="form-group mb-4">
            <label>Telefone: &emsp;</label>
            <input class="form-control" name="telefone" id="telefone" type="telefone" size="50" autocomplete="off">
        </div>
    </div>
    <div class="container" style="float: right; width:45%;">
        <div class="input-group">
            <label for="assunto">Assunto:&emsp;</label>
            <select class="custom-select" name="assunto">
                {{!-- LISTANDO ASSUNTOS CONFORME TABELA ASSUNTOS --}}
                {{#each assunto}}
                    <option value="{{_id}}">{{assunto}}</option>
                {{else}}
                    <option value="0" selected disabled>Nenhum assunto cadastrado</option>
                {{/each}}
            </select>
            <div class="input-group-append">
                {{!-- BOTAO PARA ADICIONAR NOVO ASSUNTO VIA MODAL --}}
                <button class="btn btn-outline-secondary" id="modal-button" type="button" data-toggle="modal" data-target="myModal">Novo</button>
            </div>  
        </div>
        <label for="mensagem">Mensagem:</label>
        <textarea class="form-control" name="mensagem" id="mensagem" rows="5" placeholder="Digite sua mensagem..."></textarea>
        
        <div style="float: right; position:relative" class="form-inline mt-2">
            <button class="btn btn-warning" type="reset">Limpar</button>&emsp;&emsp;
            <button class="btn btn-success" type="submit">Enviar</button>
        </div>
    </div>  

</form>
<div class="modal fade bd-example-modal-lg" id="modalAssunto" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <h1>TESTE</h1>
    </div>
  </div>
</div>

